In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.ticker as mtick
import matplotlib.pyplot as plt
%matplotlib inline

AttributeError: module 'matplotlib' has no attribute 'get_data_path'

In [5]:
telco_base_data = pd.read_csv('C:\\Users\\Amita\\OneDrive\\Documents\\GitHub\\Exploratory_Data_Analysis-EDA\\Data\\Churn_Modelling.csv')

## Univariate Analysis

In [6]:
telco_base_data.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
telco_base_data_new = telco_base_data[['Geography','Gender','Exited']]
telco_base_data_new.head(5)

  Geography  Gender  Exited
0    France  Female       1
1     Spain  Female       0
2    France  Female       1
3    France  Female       0
4     Spain  Female       0

In [8]:
for i , preictor in enumerate(telco_base_data_new.drop(columns='Exited')):
    plt.figure()
    sns.countplot(data=telco_base_data_new ,x=preictor, hue= 'Exited')

NameError: name 'plt' is not defined

## Bivaraite Analysis

In [1]:
sns.histplot(data=telco_base_data_new , x='Gender',hue='Geography',stat='count',multiple='dodge')

NameError: name 'sns' is not defined